<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.coursesTabDao">
	<insert id="addCoursesTab" parameterType="com.entity.coursesTab">
		insert into courses_tab(courses_name,video_form_id,courses_introduce,courses_video,courses_img_url,courses_date,courses_pricemoney,teacher_id,courses_qz,courses_time) 
		values(#{courses_name,jdbcType=VARCHAR},#{video_form_id},#{courses_introduce,jdbcType=VARCHAR},#{courses_video,jdbcType=VARCHAR},#{courses_img_url,jdbcType=VARCHAR},now(),#{courses_pricemoney,jdbcType=VARCHAR},#{teacher_id,jdbcType=INTEGER},#{courses_qz,jdbcType=INTEGER},#{courses_time,jdbcType=VARCHAR})
	</insert>
	<select id="searchTabList" parameterType="java.util.HashMap" resultType="com.entity.coursesTab">
		SELECT c.courses_id,c.courses_name,c.video_form_id,c.courses_introduce,c.courses_video,c.courses_status,c.courses_img_url,c.courses_date,c.courses_pricemoney,c.teacher_id,c.courses_qz,c.courses_time,vf.video_form_name,vf.video_form_class FROM
		courses_tab c LEFT JOIN video_form_tab vf ON c.video_form_id = vf.video_form_id
			<where> c.courses_status=8
				<if test="teacher_id !='' and teacher_id !=null">
					and c.teacher_id = #{teacher_id,jdbcType=VARCHAR}
				</if>
				<if test="courses_name !='' and courses_name !=null">
					and c.courses_name like CONCAT(CONCAT('%',#{courses_name,jdbcType=VARCHAR}),'%')
				</if>
				<if test="courses_pricemoney !='' and courses_pricemoney !=null">
					and c.courses_pricemoney = #{courses_pricemoney,jdbcType=VARCHAR}
				</if>
				<if test="courses_grade !='' and courses_grade !=null">
					and c.courses_grade = #{courses_grade,jdbcType=VARCHAR}
				</if>
				<if test="video_form_id !='' and video_form_id !=null">
					and c.video_form_id = #{video_form_id,jdbcType=VARCHAR}
				</if>
			</where>
			order by c.courses_qz desc
	</select>
	<select id="getTabList" parameterType="com.entity.coursesTab" resultType="com.entity.coursesTab">
		SELECT c.courses_id,c.courses_name,c.video_form_id,c.courses_introduce,c.courses_video,c.courses_status,c.courses_img_url,c.courses_date,c.courses_pricemoney,c.teacher_id,c.courses_qz,c.courses_time,vf.video_form_name,vf.video_form_class FROM
		courses_tab c LEFT JOIN video_form_tab vf ON c.video_form_id = vf.video_form_id
			<where> 1=1
				<if test="teacher_id !='' and teacher_id !=null">
					and c.teacher_id = #{teacher_id,jdbcType=INTEGER})
				</if>
				<if test="courses_name !='' and courses_name !=null">
					and c.courses_name like CONCAT(CONCAT('%',#{courses_name,jdbcType=VARCHAR}),'%')
				</if>
				<if test="courses_pricemoney !='' and courses_pricemoney !=null">
					and c.courses_pricemoney like CONCAT(CONCAT('%',#{courses_pricemoney,jdbcType=VARCHAR}),'%')
				</if>
				<if test="courses_grade !='' and courses_grade !=null">
					and c.courses_grade like CONCAT(CONCAT('%',#{courses_grade,jdbcType=VARCHAR}),'%')
				</if>
				<if test="video_form_id !='' and video_form_id !=null">
					and c.video_form_id = #{video_form_id,jdbcType=INTEGER})
				</if>
			</where>
				order by c.courses_qz desc
	</select>
	<select id="getTabListById" parameterType="int" resultType="com.entity.coursesTab">
		select * from courses_tab where courses_id=#{id,jdbcType=INTEGER} 
	</select>
	<update id="delCoursesById" parameterType="com.entity.coursesTab">
		update courses_tab set courses_status='9' where courses_id=#{id,jdbcType=INTEGER} 
	</update>
	<update id="updateCoursesById" parameterType="com.entity.coursesTab">
		update courses_tab set courses_status='8' where courses_id=#{id,jdbcType=INTEGER} 
	</update>
	<update id="upCoursesById" parameterType="com.entity.coursesTab">
		update courses_tab 
		set 
		courses_name =#{courses_name,jdbcType=VARCHAR},
		video_form_id =#{video_form_id},courses_introduce=#{courses_introduce,jdbcType=VARCHAR},courses_video=#{courses_video,jdbcType=VARCHAR},
		courses_img_url =#{courses_img_url,jdbcType=VARCHAR},courses_pricemoney=#{courses_pricemoney,jdbcType=VARCHAR},courses_qz=#{courses_qz,jdbcType=INTEGER},courses_time=#{courses_time,jdbcType=VARCHAR}
		where courses_id=#{courses_id,jdbcType=INTEGER} 
	</update>
</mapper>