<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.videoFormTabDao">
	<update id="updateTab" parameterType="com.entity.videoFormTab">
		update video_form_tab set video_form_name=#{video_form_name,jdbcType=VARCHAR},video_form_class=#{video_form_class,jdbcType=VARCHAR},video_form_status=#{video_form_status,jdbcType=INTEGER} where video_form_id=#{video_form_id,jdbcType=INTEGER}
	</update>
	<select id="getVideoFormTabs" resultType="com.entity.videoFormTab">
		select * from video_form_tab
	</select>
	<insert id="insertTab" parameterType="com.entity.videoFormTab">
		insert into video_form_tab(video_form_name,video_form_class,video_form_status) values(#{video_form_name,jdbcType=VARCHAR},#{video_form_class,jdbcType=VARCHAR},5)
	</insert>
	<select id="searchTab" resultType="com.entity.videoFormTab" parameterType="com.entity.videoFormTab">
		select * from video_form_tab
		<where>
		<if test="video_form_name != null and video_form_name != '' ">
		   and video_form_name = #{video_form_name,jdbcType=VARCHAR}
		</if>
		<if test="video_form_class != null and video_form_class != '' ">
		   and video_form_class = #{video_form_class,jdbcType=VARCHAR}
		</if>
		</where>
	</select>
	<select id="getTabById" resultType="com.entity.videoFormTab" parameterType="int">
		select * from video_form_tab where video_form_id = #{videoFormId,jdbcType=INTEGER}
	</select>
	<update id="upStatusTabById" parameterType="int">
		update video_form_tab set video_form_status=#{video_form_status} where video_form_id=#{video_form_id}
	</update>
</mapper>